    div.test {
        height: 50px;
        background-color: blue;
    }
    
    .navbar-style-standard {
        background-color: beige;
        color: orange;
    }
    
    div.navbar-logo {
        height: 100px;
        background-image: url(http://placekitten.com/200/200);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    @media only screen and (max-width: 768px) {
        div.navbar-logo {
            height: 50px;
        }
    }